<h1>Leetspeak!</h1>

<form action="/">
  <label for="user-string">Enter some text:</label>
  <input type="text" name="user-string" id="user-string">
  <button type="submit" name="button">Submit</button>
</form>
